In [2]:
# PANDAS 
# it is an libray, if we are working on any , project we deal with data, but we need to know which kind of the data is it , so we use pandas
# for analysis , manipulation , understading

In [3]:
# most important 2 objects 1)series 2)Data frame

### Pandas - Series

In [4]:
# it is an 1 dimensional column of an table , holding any data type => series

In [5]:
# pandas us build upon NUMPY

# importing
import pandas as pd
import numpy as np

In [6]:
# series form  a list

country = ['India','pak','usa','nepal','Butan']

# now we call a series class , and pass "country " in its constructor

pd.Series(country)

# series => consist of inex and values

# dtype: object ==> pandas "string" ko "object hi bolta hai"

0    India
1      pak
2      usa
3    nepal
4    Butan
dtype: object

In [7]:
# integer

runs = [13,45,32,56,78,90,100]
pd.Series(runs)

0     13
1     45
2     32
3     56
4     78
5     90
6    100
dtype: int64

In [8]:
# Coustom Index using{Index attribute}
marks = [56,78,98, 101]
subject = ['english', 'maths','hidi','AMM']

# now creating
pd.Series(marks, index= subject)

english     56
maths       78
hidi        98
AMM        101
dtype: int64

In [9]:
# setting a name  , so we can call it latter {using Name attribute}

marks = pd.Series(marks, index= subject, name= "Satyam ke marks")
marks

english     56
maths       78
hidi        98
AMM        101
Name: Satyam ke marks, dtype: int64

### Series from dict

In [10]:
# same thing , custom indexing ,using dictionary

marks ={
"english" : 56,
"maths"  : 78,
"hidi"  :  98,
"AMM"  :  101
}

marks_series = pd.Series(marks, name = "Satyam ke marks")
marks_series  # it will result same output

english     56
maths       78
hidi        98
AMM        101
Name: Satyam ke marks, dtype: int64

### Attributes of Series

In [11]:
# size  
# here marks_series is an object of class Series
marks_series.size

4

In [12]:
# dtype
marks_series.dtype

dtype('int64')

In [13]:
# name
marks_series.name

'Satyam ke marks'

In [14]:
# is unique

pd.Series([1,1,1,2,3,4,5,6]).is_unique

False

index and values

In [15]:
# all index
marks_series.index
# gives all index , with index variable

Index(['english', 'maths', 'hidi', 'AMM'], dtype='object')

In [16]:
# all values
marks_series.values

array([ 56,  78,  98, 101], dtype=int64)