# HOF

In [1]:
# higher order of function

# a function takes a input as function

In [6]:
def sum (fun ,l):
    result = 0
    for i in l:
        if fun(i):
            result = result + i
    return result



l = [11,14,21,23,56,78,45,29,28]

a = lambda x: x%2 == 0
b = lambda x: x%2 != 0
c = lambda x: x%3 == 0

print(sum(a,l))
print(sum(b,l))
print(sum(c,l))

176
129
144

# MAP

In [7]:
# MAP 

# it always needed a function and an iterratable as an input

In [9]:
#) case 1 , double all values
l = [1,2,3,4,5,6,7,8,9]

map(lambda x: x*2 , l)

In [10]:
list(map(lambda x: x*2 , l))
# we need to typecast , so we can read it

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [12]:
# case 2) even odd
list(map(lambda x: x%2 == 0,l))

[False, True, False, True, False, True, False, True, False]

In [18]:
# case 3) 
dict = [
    {
        'name' :'satyam',
        'roll no':21,
        'job' : 'Data scientist'
    },{
        'name':'rolli',
        'roll no':14,
        'job':'student'
    },{
        'name':'ajay',
        'roll no':96,
        'job': 'master'
    }
]

# using map , only print the name in a list

map(lambda y: y['name'] , dict)
list(map(lambda y: y['name'] , dict))

['satyam', 'rolli', 'ajay']

# FILTER

In [19]:
# remove the unwanted , based on the condition

l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
list(filter(lambda x: x>4, l))

[5, 6, 7, 8, 9]

In [24]:
b = ['apple','orange','mango','watermelon']
#  print the string having 'e'

list(filter(lambda x: 'e' in x , b))

['apple', 'orange', 'watermelon']

# REDUCE

In [27]:
from functools import reduce
print(l)
# sum of all
reduce(lambda x,y: x+y ,l )

[1, 2, 3, 4, 5, 6, 7, 8, 9]

45

In [29]:
# greatest
reduce(lambda x,y : x if x>=y else y ,l)

9

In [31]:
# smallest
reduce(lambda x,y : x if x<=y else y ,l)

1

# LIST comprehension

In [32]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
l1 = [item * 2 for item in l]
l1

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [36]:
l2 = [i**2 for i in range(1,11)]
l2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [37]:
l3 = [i**2 for i in range(10) if i%2 !=0]
l3

[1, 9, 25, 49, 81]

In [38]:
b

['apple', 'orange', 'mango', 'watermelon']

In [40]:
l4 = [fruit for fruit in b if fruit[0]=='o']
l4

['orange']

# Dictionary comprehension

In [46]:
dict

[{'name': 'satyam', 'roll no': 21, 'job': 'Data scientist'},
 {'name': 'rolli', 'roll no': 14, 'job': 'student'},
 {'name': 'ajay', 'roll no': 96, 'job': 'master'}]

In [47]:
dict_1 = {'name': 'satyam', 'roll no': 21, 'job': 'Data scientist'}
dict_1.items()

dict_items([('name', 'satyam'), ('roll no', 21), ('job', 'Data scientist')])

In [48]:
d1 = {key:value for key,value in dict_1.items() if len(key)>3}
d1

{'name': 'satyam', 'roll no': 21}

In [49]:
d2 = {item: item**2 for item in range(11)}
d2

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [50]:
d3 = {item: item**2 for item in range(11) if item %2 ==0}
d3

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100}