In [1]:
# Lambda are functions

# 1- no name 
# 2- can not reuse
# 3- whole function is returened , insted of returing values
# 4- onle written in 1 line

In [4]:
a = lambda x:x**2
a(4)

16

In [5]:
a = lambda x,y: x**y
a(4,5)

1024

In [6]:
a = lambda x: "Even" if x%2==0 else "odd"
a(6)

'Even'

In [8]:
a = lambda x: x[0] == 'a'
a("ball")
a("ate")

True

In [9]:
# HOF
# higher order of function

# a function takes a input as function

In [11]:
def sum (fun , l):
    result = 0
    for i in l:
        if fun(i):
            result = result + i
    return result


l = [11,2,12,13,14,15,16,17,1,8,19,20]


a = lambda x: x%2 == 0 
b = lambda x: x%2 != 0
c = lambda x: x%3 == 0

print(sum(a,l))

72

In [12]:
# MAP
# it always needed a function and an iterratable as an input

In [15]:
#) case 1 , double all values

l = [11,2,12,13,14,15,16,17,1,8,19,20]

list(map(lambda x:x*2, l))

[22, 4, 24, 26, 28, 30, 32, 34, 2, 16, 38, 40]

In [16]:
# case 2) even odd
list(map(lambda x: x%2 ==0 , l))

[False, True, True, False, True, False, True, False, False, True, False, True]

In [17]:
# case 3) 
dict = [
    {
        'name' :'satyam',
        'roll no':21,
        'job' : 'Data scientist'
    },{
        'name':'rolli',
        'roll no':14,
        'job':'student'
    },{
        'name':'ajay',
        'roll no':96,
        'job': 'master'
    }
]

# usiing map, only print the name in a list

map(lambda y: y['name'], dict)

list(map(lambda y: y['name'], dict))

['satyam', 'rolli', 'ajay']

In [18]:
# filter

In [19]:
# remove the unwanted , based on the condition

list(filter(lambda x: x>4, l))

[11, 12, 13, 14, 15, 16, 17, 8, 19, 20]

In [20]:
b = ['apple','orange','mango','watermelon']
#  print the string having 'e'

list(filter(lambda x: 'e' in x, b))

['apple', 'orange', 'watermelon']

In [21]:
##Reduce

from functools import reduce
print(l)

reduce(lambda x,y : x+y , l)

[11, 2, 12, 13, 14, 15, 16, 17, 1, 8, 19, 20]

148

In [23]:
# greatest

reduce(lambda x,y : x if x>=y else y,l)

20

In [25]:
#list com[rehension]
l

[11, 2, 12, 13, 14, 15, 16, 17, 1, 8, 19, 20]

In [26]:
l1 = [item * 2 for item in l]
l1

[22, 4, 24, 26, 28, 30, 32, 34, 2, 16, 38, 40]

In [28]:
l2 = [i**2 for i in range(1,11)]
l2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
l3 = [i**2 for i in range(10) if i%2 != 0]
l3

[1, 9, 25, 49, 81]

In [31]:
b

['apple', 'orange', 'mango', 'watermelon']

In [32]:
l4 = [fruit for fruit in b if fruit[0]=='o']
l4

['orange']

In [33]:
### dictionary comprehension

In [34]:
dict

[{'name': 'satyam', 'roll no': 21, 'job': 'Data scientist'},
 {'name': 'rolli', 'roll no': 14, 'job': 'student'},
 {'name': 'ajay', 'roll no': 96, 'job': 'master'}]

In [35]:
dict_1 = {'name': 'satyam', 'roll no': 21, 'job': 'Data scientist'}
dict_1.items()

dict_items([('name', 'satyam'), ('roll no', 21), ('job', 'Data scientist')])

In [36]:
d1 = {key:value for key, value in dict_1.items() if len(key)>3}
d1

{'name': 'satyam', 'roll no': 21}