Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [ ]:
# Code here
curr_pop = 10000

for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop = curr_pop/1.1

Sequence sum
1/1! + 2/2! + 3/3! + ...

In [ ]:
# Code here

n = int(input('enter n'))

result = 0
fact = 1

for i in range(1,n+1):
  fact = fact * i
  result = result + i/fact

print(result)

Strings are sequence of Characters

In Python specifically, strings are a sequence of Unicode Characters

Creating Strings
Accessing Strings
Adding Chars to Strings
Editing Strings
Deleting Strings
Operations on Strings
String Functions

## Creating Stings

In [ ]:
s = 'hello'
s = "hello"
# multiline strings
s = '''hello'''
s = """hello"""
s = str('hello')
print(s)

In [1]:
"it's raining outside"

"it's raining outside"

## Accessing Substrings from a String

In [ ]:
# Positive Indexing
s = 'hello world'
print(s[41])

In [ ]:
# Negative Indexing
s = 'hello world'
print(s[-3])

In [2]:
# Slicing
s = 'hello world'
print(s[6:0:-2])

wol

In [3]:
print(s[::-1])

dlrow olleh

In [4]:
s = 'hello world'
print(s[-1:-6:-1])

dlrow

## Editing and Deleting in Strings

In [5]:
s = 'hello world'
s[0] = 'H'

# Python strings are immutable

TypeError: 'str' object does not support item assignment

In [ ]:
s = 'hello world'
del s
print(s)

In [ ]:
s = 'hello world'
del s[-1:-5:2]
print(s)

Operations on Strings
Arithmetic Operations
Relational Operations
Logical Operations
Loops on Strings
Membership Operations

In [ ]:
print('delhi' + ' ' + 'mumbai')

In [ ]:
print('delhi'*5)

In [6]:
print("*"*50)

**************************************************

In [7]:
'delhi' != 'delhi'

False

In [8]:
'mumbai' > 'pune'
# lexiographically

False

In [9]:
'Pune' > 'pune'

False

In [10]:
'hello' and 'world'

'world'

In [11]:
'hello' or 'world'

'hello'

In [12]:
'' and 'world'

''

In [13]:
'' or 'world'

'world'

In [14]:
'hello' or 'world'

'hello'

In [ ]:
not 'hello'

In [ ]:
for i in 'hello':
  print(i)

In [15]:
for i in 'delhi':
  print('pune')

pune
pune
pune
pune
pune

In [ ]:
'D' in 'delhi'

Common Functions
len
max
min
sorted

In [ ]:
len('hello world')

In [16]:
max('hello world')

'w'

In [17]:
min('hello world')

' '

In [18]:
sorted('hello world',reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

Capitalize/Title/Upper/Lower/Swapcase

In [19]:
s = 'hello world'
print(s.capitalize())
print(s)

Hello world
hello world

In [20]:
s.title()

'Hello World'

In [ ]:
s.upper()

In [ ]:
'Hello Wolrd'.lower()

In [ ]:
'HeLlO WorLD'.swapcase()

Count/Find/Index

In [21]:
'my name is nitish'.count('i')

3

In [22]:
'my name is nitish'.find('x')

-1

In [ ]:
'my name is nitish'.index('x')

endswith/startswith

In [ ]:
'my name is nitish'.endswith('sho')

In [23]:
'my name is nitish'.startswith('1my')

False

format

In [ ]:
name = 'nitish'
gender = 'male'

'Hi my name is {1} and I am a {0}'.format(gender,name)

isalnum/ isalpha/ isdigit/ isidentifier

In [ ]:
'nitish1234%'.isalnum()

In [24]:
'nitish'.isalpha()

True

In [25]:
'123abc'.isdigit()

False

In [26]:
'first-name'.isidentifier()

False

Split/Join

In [27]:
'hi my name is nitish'.split()

['hi', 'my', 'name', 'is', 'nitish']

In [28]:
" ".join(['hi', 'my', 'name', 'is', 'nitish'])

'hi my name is nitish'

Replace

In [ ]:
'hi my name is nitish'.replace('nitisrgewrhgh','campusx')

Strip

In [ ]:
'nitish                           '.strip()

Example Programs

In [ ]:
# Find the length of a given string without using the len() function

s = input('enter the string')

counter = 0

for i in s:
  counter += 1

print('length of string is',counter)

In [ ]:
# Extract username from a given email. 
# Eg if the email is nitish24singh@gmail.com 
# then the username should be nitish24singh

s = input('enter the email')

pos = s.index('@')
print(s[0:pos])

In [ ]:
# Count the frequency of a particular character in a provided string. 
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.

s = input('enter the email')
term = input('what would like to search for')

counter = 0
for i in s:
  if i == term:
    counter += 1

print('frequency',counter)

In [ ]:
# Write a program which can remove a particular character from a string.
s = input('enter the string')
term = input('what would like to remove')

result = ''

for i in s:
  if i != term:
    result = result + i

print(result)

In [ ]:
# Write a program that can check whether a given string is palindrome or not.
# abba
# malayalam

s = input('enter the string')
flag = True
for i in range(0,len(s)//2):
  if s[i] != s[len(s) - i -1]:
    flag = False
    print('Not a Palindrome')
    break

if flag:
  print('Palindrome')

In [ ]:
# Write a program to count the number of words in a string without split()

s = input('enter the string')
L = []
temp = ''
for i in s:

  if i != ' ':
    temp = temp + i
  else:
    L.append(temp)
    temp = ''

L.append(temp)
print(L)

In [ ]:
# Write a python program to convert a string to title case without using the title()
s = input('enter the string')

L = []
for i in s.split():
  L.append(i[0].upper() + i[1:].lower())

print(" ".join(L))

In [ ]:
# Write a program that can convert an integer to string.

number = int(input('enter the number'))

digits = '0123456789'
result = ''
while number != 0:
  result = digits[number % 10] + result
  number = number//10

print(result)
print(type(result))